@import "variables";

html{
    font-family: 'Polly Rounded';
    font-size: calc(100vw / 1920 * 10);
}

.App{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.center-area{
    width: 56.7%;
    background-color:  $first-lite-color;
    height: 97%;
    margin: auto 0;
    border-radius: 1.8rem;
    box-sizing: border-box;
    padding: 0 4.4rem;
    position: relative;
    
}