@import '../../assets/styles/variables.scss';

.button{
	width: 155px;
	height: 39px;
	background: rgb(177,75,244);
background: linear-gradient(90deg, rgba(177,75,244,1) 0%, rgba(92,39,254,1) 100%);
color: #fff;
border-radius: 5px;

}
.fileinput{
	 display: none;
}
.upload{
}

.paper{
	width: 40%;
}
.modal{
	background-color: #000;
}
