.sidebar{
   
   
    width: 19%;
    height: 100%;
    padding-left: 4rem;
    .sidebar__logo{
        width: 20rem;
        height: 4rem;
        margin-top: 6rem;
    }
    .navigation{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 6rem;
    }
}