@import '../../assets/styles/variables';
.fileDark{
	background-color: #313131;
	color: #fff;
}
.file{
	background-color: #fff;
	color: #000;
	
}
.name{
	display: block;
	font-size: 12px;
	height: 20px;
	// width: 10px;
}
.cardfield__block{
	width: 150px;
	color: #fff;
	height: 120px;
	border-radius: 7px;
	.image__block{
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $theme-color1;
	//  width: 100%;
	 height: 80%;
	 border-radius: 7px;
	 img{
		width: 50px;
		// height: 50px;
	 }
	}
	.bottom{
		display: flex;
		justify-content: space-between;
	}
}
.cardfield{
	
	width: 100%;
	height: 60px;
	display: flex;
	gap: 100px;
	align-items: center;
	position: relative;
}

.image__row{
width: 20px;
height: 20px;

}

.button{
	position: absolute;
	top: 5px;
	right: 5px;
	img{
		width: 25px;
		height: 25px;
	}
	
}