.fileDark{
	background-color: #313131;
	color: #fff;
}
.file{
	background-color: #fff;
	color: #000;
	max-width: 150px;
}
.name{
	font-size: 12px;
	height: 20px;
	width: 10px;
}
.cardBot{
	// height: 50px;
}
.button{
	width: 20px;
	height: 20px;
	background-color: aqua;
}